@media (min-width: 1200px) {
    .menu_list {
        margin-left: 29%;
    }
    .slogan1 {
        font-size: 50px;
    }
    .slogan2 {
        font-size: 50px;
    }
    .slogan3 {
        font-size: 50px;
    }
    .right {
        margin-left: 100px;
    }
    .screen2_wrapper {
        padding: 0 10px;
    }
    .screen8_wrapper {
        padding: 0 10px;
    }
    .screen9_wrapper {
        padding: 0 10px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .menu_list {
        margin-left: 20%;
    }
    .menu_list li a {
        font-size: 12px;
    }
    .slogan1 {
        font-size: 45px;
        margin-left: 0;
    }
    .slogan2 {
        font-size: 45px;
        margin-left: 5%;
    }
    .slogan3 {
        font-size: 45px;
        margin-left: 10%;
    }
    .screen1 {
        max-width: 1170px;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }
    .right {
        margin: 30px 0;
    }
    .screen1wrapper {
        padding-bottom: 0;
        padding-top: 0;
        margin-top: 0;
    }
    .screen2_items {
        flex-wrap: wrap;
        justify-content: center;
    }
    .screen2_item1 {
        padding-bottom: 30px;
        margin: 0 5%;
    }
    .screen2_item1 p {
        text-align: center;
    }
    .screen3Images {
        justify-content: space-around;
    }
    .screen6_big_text {
        font-size: 37px;
    }
    .screen8_wrapper {
        padding: 22px 10px;
    }
    .screen9_wrapper {
        padding: 60px 10px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .menu_list {
        margin-left: 0;
    }
    .menu_list li a {
        font-size: 13px;
    }
    .menu {
        padding: 25px 11px 0;
    }
    .slogan1 {
        margin-left: 0;
        font-size: 55px;
    }
    .slogan2 {
        margin-left: 5%;
        font-size: 55px;
    }
    .slogan3 {
        margin-left: 10%;
        font-size: 55px;
    }
    .screen1 {
        flex-direction: column;
        align-items: center;
    }
    .right {
        margin: 30px 10%;
    }
    .screen1wrapper {
        padding-bottom: 0;
        padding-top: 0;
    }
    .screen2_items {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .screen2_item1 {
        width: 37%;
    }
    .screen3Images {
        justify-content: center;
    }
    .screen6_big_text {
        font-size: 33px;
    }
    .screen6_small_text {
        font-size: 16px;
    }
    .screen6_left {
        margin-left: 64px;
        margin-right: 40px;
    }
    .screen9_wrapper {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .menu_list {
        display: none;
    }
    .slogan1 {
        margin-left: 0;
        font-size: 55px;
    }
    .slogan2 {
        margin-left: 5%;
        font-size: 55px;
    }
    .slogan3 {
        margin-left: 10%;
        font-size: 55px;
    }
    .screen1 {
        flex-direction: column;
        align-items: center;
    }
    .right {
        margin: 30px 10%;
    }
    .screen1wrapper {
        padding-bottom: 0;
        padding-top: 0;
    }
    .screen2_items {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .screen2_item1 {
        width: 69%;
    }
    .screen3Images {
        justify-content: center;
    }
    .screen3Images_long {
        width: 570px;
    }
    .screen5_item1 {
        width: 48%;
    }
    .screen6_big_text {
        font-size: 25px;
    }
    .screen6_small_text {
        font-size: 12px;
    }
    .screen6_left {
        margin-left: 10px;
        margin-right: 0px;
    }
    .screen9_wrapper {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .screen8_wrapper {
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
}
