* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
}
header {
    background-image: url("../img/bgimage.png");
    background-size: cover;
}
.menu {
    display: flex;
    justify-content: space-between;
    padding: 35px 60px 0;
    align-items: center;
}
.menu_list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-left: 54%;
}
.menu_list li a {
    margin-right: 25px;
    text-decoration: none;
    color: #99aade;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
}
.menu_list li a:hover {
    color: #7492ec;
}
.btn1 a {
    display: inline-block;
    width: 198px;
    background-color: #7492ec;
    text-align: center;
    padding: 15px 20px 15px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #ffffff;
    text-transform: uppercase;
}
.slogan1 {
    margin-left: 65%;
    margin-top: 212px;
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
    font-weight: 300;
    line-height: 1.39;
    color: rgba(76, 119, 235, 0.8);
}
.slogan2 {
    margin-left: 70%;
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
    font-weight: 300;
    line-height: 1.39;
    color: rgba(76, 119, 235, 0.8);
}
.slogan3 {
    margin-left: 75%;
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
    font-weight: 300;
    line-height: 1.39;
    color: rgba(76, 119, 235, 0.8);
}
.screen1 {
    display: flex;
    justify-content: center;
    max-width: 1170px;
    margin: 0 auto;
}
.left h2 {
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    color: rgb(116, 146, 236);
    line-height: 0.583;
    font-weight: 300;
    margin-bottom: 15px;
}
.left p {
    font-size: 14px;
    font-family: "Lato", sans-serif;
    color: rgb(102, 102, 102);
    line-height: 1.714;
    margin-bottom: 48px;
}
.video {
    position: relative;
}
.plbutton {
    position: absolute;
    bottom: 150px;
    left: 250px;
}
.left {
    max-width: 568px;
    margin-top: 104px;
}
.item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.right {
    margin-left: 130px;
    margin-top: -30px;
}
.item1 img {
    margin-right: 30px;
}
.big {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 2.667;
    font-weight: bold;
}
.small {
    font-size: 14px;
    font-family: "Lato", sans-serif;
    color: rgb(102, 102, 102);
    line-height: 1.714;
}
.screen1wrapper {
    background-image: url("../img/screen1bg.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 120px;
    padding-top: 100px;
    margin-top: -70px;
}
.screen2 {
    background-image: url("../img/screen2_bg.png");
    background-size: cover;
    min-height: 794px;
}
.screen2_wrapper {
    max-width: 1170px;
    margin: 0 auto;
}
.screen2_head_image {
    display: flex;
    justify-content: center;
}
.screen2_h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.58;
    letter-spacing: normal;
    text-align: center;
    color: #7492ec;
}
.screen2_items {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.screen2_item1 {
    width: 275px;
}
.screen2_item1_image {
    width: 98%;
}
.screen2_item1 h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.33;
    color: #7492ec;
    margin-top: 31px;
    margin-bottom: 17px;
    min-height: 2.4em;
}
.screen2_item1_list1 {
    font-family: Lato, sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.85;
    letter-spacing: normal;
    color: #999999;
}
.screen2_item1_list1 img {
    margin-right: 12px;
}
.screen2_item1 p {
    margin-top: 25px;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #666666;
}
.screen3wrapper {
    max-width: 1170px;
    margin: 0 auto;
}
.screen3HeadText {
    margin-top: 122px;
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}
.screen3SmallText {
    max-width: 444px;
    margin: 26px auto;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
}
.screen3Button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.screen3Button a {
    display: inline-block;
    padding: 15px 50px;
    border-radius: 25px;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
    background-color: #99aade;
    text-decoration: none;
    text-transform: uppercase;
}
.screen3Images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 80px;
}
.screen3Images img {
    margin-bottom: 30px;
}
.screen4 {
    background-image: url("../img/screen4bg.png");
    min-height: 500px;
    background-size: cover;
    margin-top: 90px;
    padding-top: 142px;
}
.screen4Text1 {
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.screen4Text2 {
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    max-width: 542px;
    margin: 25px auto 0;
}
.screen4Text3 {
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 59px auto 23px;
}
.screen4Icon {
    display: flex;
    justify-content: center;
}
.screen5_wrapper {
    max-width: 1170px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-top: 120px;
    padding-bottom: 60px;
}
.screen5_item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin-bottom: 60px;
}
.screen5_item1_text {
    margin-left: 21px;
}
.screen5_item1_big_text {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.screen5_item1_small_text {
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #999999;
}
.screen6 {
    background-color: #f8f7fc;
}
.screen6_wrapper {
    max-width: 1170px;
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.screen6_left {
    margin-left: 185px;
    margin-right: 120px;
}
.screen6_big_text {
    font-family: Poppins, sans-serif;
    font-size: 48px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.58;
    letter-spacing: normal;
    text-align: left;
    color: #7492ec;
}
.screen6_small_text {
    font-family: Lato, sans-serif;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #8ea2dc;
    margin-top: 26px;
}
.screen6_button a {
    text-decoration: none;
    display: inline-block;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    background-color: #7492ec;
    padding: 13px 43px;
    border-radius: 30px;
    text-transform: uppercase;
    margin-top: 46px;
}
.screen6_right {
    margin-top: -60px;
}
.screen7_wrapper {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
}
.screen8 {
    background-color: #181818;
}
.screen8_wrapper {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
}
.screen8_big_text {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    line-height: 1.5;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
}
.screen8_small_text {
    font-family: Lato, sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: italic;
    line-height: 1.85;
    text-align: left;
    color: #bbbbbb;
}
.screen8_input input {
    width: 310px;
    /*height: 50px;*/
    padding: 13px 0 13px 15px;
    border-radius: 30px;
    border: none;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: 600;
    background-color: rgb(51, 51, 51);
    color: white;
}
.screen8_input input:focus {
    outline: none;
}
.screen8_button {
    /*display: inline-block;*/
    padding: 10px 37px;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 2;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #7492ec;
    border-radius: 30px;
    margin-left: -40px;
    border: none;
}
.screen8_button:hover {
    cursor: pointer;
}
.screen9 {
    background-color: #222222;
}
.screen9_wrapper {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 60px 0;
    font-family: Lato, sans-serif;
    font-size: 13px;
    text-align: left;
    color: #bbbbbb;
}
.screen9_item1_big_text {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 3.43;
    color: #ffffff;
}
.screen9_item1_small1 {
    padding-bottom: 23px;
}
.screen9_item1_small2 {
    padding-bottom: 23px;
}
.screen9_item1_small3 {
    padding-bottom: 23px;
}
.screen9_item2_ul {
    list-style-type: none;
}
.screen9_item2_ul li {
    padding-bottom: 10px;
}
.screen9_item2_ul  a{
    text-decoration: none;
    font-family: Lato, sans-serif;
    font-size: 13px;
    text-align: left;
    color: #bbbbbb;
}
.screen9_item3 td {
    width: 70px;
    height: 27px;
}
.galka {
    text-align: center;
    font-size: 20px;
}
.screen9_item1_social img {
    margin-right: 10px;
}